            .form {
                display: flex;
                flex-direction: column;
                width: 30vw;
                height: 30vh;
                margin: auto;
                padding-top: 5%;
            }
            
            .addedit {
                height: 95vh;
                width: 100vw;
                margin: auto;
                padding-top: 5%;
            }
            
            button {
                margin-top: 5%;
            }
            
            h4 {
                display: flex;
                justify-content: center;
            }